/* 
Gris:
#646464

Azul:
#224f88
*/


.titulo{
    padding-top: 4rem;
    color: var(--main-color);
    /* padding-left: 1rem; */
    border-bottom: 1px solid var(--sec-color);
}

.descripcion{
    font-size: 1.2rem;
}

.subtitulo{
    text-align: center;
    font-size: 1.8rem;
    color:  var(--sec-color);
    margin: 1rem;
}

.contenido{
    margin: 1rem 1rem;
}

.recuadro-conocimiento{
    margin-bottom: 2rem;
}
.recuadro-conocimiento .col-6{
    margin-top: 1rem;
    vertical-align: middle;

    display: flex;
    align-items: center;
}

.recuadro-conocimiento .col-lg{
    margin-top: 1rem;
    vertical-align: middle;

    display: flex;
    align-items: center;
}

.icono{
    max-height: 3rem;
}
.recuadro-conocimiento h4{
    text-align: center;
}
.lenguaje{
    width: inherit;
    text-align: right;
}

.titulo-lenguaje{
    font-size: 1.5rem;
    color: var(--main-color);
    font-style: oblique;
    border-bottom: 1px solid gainsboro;
    margin: 0px 20%;
    padding-bottom: 4px;
}