/* 
Gris:
#646464

Azul:
#224f88
*/


.titulo{
    padding-top: 4rem;
    color: var(--main-color);
    /* padding-left: 1rem; */
    border-bottom: 1px solid var(--sec-color);
}

.descripcion{
    font-size: 1.2rem;
}

.subtitulo{
    text-align: center;
    font-size: 1.8rem;
    color:  var(--sec-color);
    margin: 1rem;
}

.contenido{
    margin: 1rem 1rem;
}

.sec-conocimiento .row{
    margin-bottom: 2rem;
}

.sec-conocimiento .col-6{
    margin-top: 1rem;
}

.icono{
    max-height: 3rem;
}

/* .lenguaje{
    width: inherit;
    text-align: right;
}  */

.sec-conocimiento h4{
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-color);
    font-style: oblique;
    border-bottom: 1px solid gainsboro;
    margin: 0px 20%;
    padding-bottom: 4px;
}

.sec-principal .col-xl-4 {
    margin-top: 3rem;
    padding: 0rem 2rem;
}

.sec-principal img{
    width: 100%;
    margin: 1rem 0rem;
}

.sec-principal h4{
    font-size: 1.5rem;
    color: var(--main-color);
    font-style: oblique;
}

.sec-principal img{
    width: 100%;
    margin: 1rem 0rem;
}

.sec-yo-me-encargo img{
    width: 100%;
    margin: 1rem 0rem;
}

.sec-animo{
    margin: 5rem 0px 0px 0px !important;
    height: 24rem;
    text-align: center;
    background-image: url("../img/animo/mesa-programador.jpg");
    color: white;
    font-style: oblique;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}




